<body>
		<a href="/">MAIN</a>
		<a href="/about/">ABOUT</a>
        <a href="/blog">BLOG</a>
        <a> nihaoouuu
            <b>zhelishina</b>
        </a>
		<h1>Astro</h1>
		<h1>Helloworld!</h1>
	</body>